<div class="alert alert-danger col-md-12" style="margin-top:30px;" *ngIf="message">
    <span>{{message}}</span>
  </div>
  <div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="orange">
                <h4 class="title">Compras</h4>
                <p class="category">Compras de la sucursal en línea.</p>
            </div>
            <div class="card-content table-responsive">
                <a class="btn btn-success" routerLink="/compras/crear">Registrar una nueva compra</a>
                <table class="table">
                    <thead class="text-primary">
                        <th>#</th>
                    </thead>
                    <tbody>
                        <td>tabla</td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>  