<div class="alert alert-danger col-md-12" style="margin-top:30px;" *ngIf="message">
    <span>{{message}}</span>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="orange">
                <h4 class="title">Compras</h4>
                <p class="category">Compras de la sucursal en línea.</p>
            </div>
            <div class="card-content table-responsive">
                <a class="btn btn-success" routerLink="/compras/crear">Registrar una nueva compra</a>
                <table class="table" *ngIf="purchases">
                    <thead class="text-primary">
                        <th>#</th>
                        <th>Producto</th>
                        <th>Nombre</th>
                        <th>Marca</th>
                        <th>Fecha</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                        <th>Estado</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let purchase of purchases">
                            <td>{{purchase.id}}</td>
                            <td>{{purchase.product_id}}</td>
                            <td>{{purchase.name}}</td>
                            <td>{{purchase.brand}}</td>
                            <td>{{purchase.created_at |  date : "fullDate"}}</td>
                            <td>{{purchase.price}}</td>
                            <td>{{purchase.quantity}}</td>
                            <td>{{purchase.price * purchase.quantity | currency}}</td>
                            <td><p class="text-success" *ngIf="purchase.done == 1">Realizada</p><p class="text-danger" *ngIf="purchase.done == 0">Pendiente</p></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>  