<div class="col-md-12">
  <div class="card">
    <div class="card-header" data-background-color="orange">
      <h4 class="title">Punto de compra</h4>
      <p class="category">Agregue todos los productos con sus respecitivas cantidades.</p>
    </div>
    <div class="card-content">
      <div class="alert alert-danger col-md-12" *ngIf="message">
        <span>{{message}}</span>
      </div>
      <div class="row">
        <form (submit)="addProduct()">
          <div class="col-md-6">
            <div class="form-group label-floating">
              <label class="control-label">Ingresa nombre, id o id secundario del producto</label>
              <input list="products" class="form-control" [(ngModel)]="input" name="input">
              <datalist id="products">
                <option *ngFor="let product of products">{{product.name}}</option>
                <option *ngFor="let product of products">{{product.id}}</option>
                <option *ngFor="let product of products">{{product.secondary_id}}</option>
              </datalist>
            </div>
          </div>
          <button class="btn btn-info" style="margin-top: 20px;">Agregar producto</button>
        </form>
      </div>

      <div class="card-content table-responsive">
        <table class="table">
          <thead class="text-primary">
            <th>#</th>
            <th># secundario</th>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Precio p/u</th>
            <th>Cantidad</th>
            <th></th>
          </thead>
          <tbody *ngIf="selected.length > 0">
            <tr *ngFor="let sel of selected">
              <td>{{sel.product.id}}</td>
              <td>{{sel.product.secondary_id}}</td>
              <td>{{sel.product.name}}</td>
              <td>{{sel.product.brand}}</td>
              <td>{{sel.product.purchase | currency}}</td>
              <td>
                <input class="form-control" style="width:80px;" type="number" (change)="validateQuantity(sel)" [(ngModel)]="sel.quantity"
                  value="{{sel.quantity}}">
              </td>
              <td>
                <button class="btn btn-danger" (click)="deleteProduct(sel.product)">
                  <i class="material-icons">delete</i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <h4 class="text-center" *ngIf="selected.length == 0">
          <br>Aún no has seleccionado productos.</h4>
        <h4 *ngIf="selected.length > 0">Costo total: {{total | currency}}</h4>
        <div class="pull-right">
          <button class="btn btn-success" (click)="makePurchase()">Registrar compra</button>
        </div>
      </div>
    </div>
  </div>
</div>
